<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GoNode - Desafio 01</title>
</head>
<body>
  <form action="/check" method="POST">
    <label for="nome">Nome</label>
    <input type="text" name="nome">
    <br/>
    <label for="dataNasciment">Data de nascimento</label>
    <input type="date" name="dataNascimento">
    <br/>
    <button type="submit">Verificar</button>
  </form>
</body>
</html>
